<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="br.ufma.deinf.laws.ncleclipse" name="NCL Eclipse Extension Point" schema="schema/br.ufma.deinf.laws.ncleclipse.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.ufma.deinf.laws.ncleclipse.NCLMultiPageEditor"
            contributorClass="br.ufma.deinf.laws.ncleclipse.NCLMultiPageActionBarContributor"
            default="true"
            extensions="ncl,conn"
            icon="icons/sample.gif"
            id="br.ufma.deinf.laws.ncleclipse.editors.NCLMultiPageEditor"
            name="NCL Eclipse">
      </editor>

   </extension>
   <!--Editor Actions -->
   <extension
         point="org.eclipse.ui.bindings">
         <key
         	commandId="br.ufma.deinf.laws.ncleclipse.actions.format"
         	contextId="org.eclipse.ui.globalScope"
         	schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         	sequence="Ctrl+Shift+F"/>
         <key
               commandId="br.ufma.deinf.laws.ncleclipse.actions.format"
               contextId="org.eclipse.ui.textEditorScope"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="Ctrl+Alt+SPACE">
         </key>
   </extension>
   <!-- extension
         point="org.eclipse.ui.actionSets">
      <actionSet
         label="Sample Action Set"
         visible="true"
         id="br.ufma.deinf.laws.ncleclipse.actionSet">
		 <action
		 		id = "br.ufma.deinf.laws.ncleclipse.actions.play"
		      	class="br.ufma.deinf.laws.ncleclipse.actions.Play"
		      	toolbarPath="Normal/exampleGroup"
		      	icon="icons/play.gif"
		      	label="Play"
		      	tooltip="Play the NCL File">
		   </action>
		   <action
		 		id = "br.ufma.deinf.laws.ncleclipse.actions.stop"
		      	class="br.ufma.deinf.laws.ncleclipse.actions.Stop"
		      	toolbarPath="Normal/exampleGroup"
		      	icon="icons/stop.gif"
		      	label="Play"
		      	tooltip="Play the NCL File">
		   </action>


      </actionSet>
   </extension -->
   <!-- End of Editor Actions -->
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ncleclipse"
            name="NCL">
      </category>
      <wizard
            category="ncleclipse"
            class="br.ufma.deinf.laws.ncleclipse.wizards.NCLNewWizard"
            icon="icons/sample.gif"
            id="ncleclipse.wizards.NCLNewWizard"
            name="NCL Document">
      </wizard>
      <wizard
            category="ncleclipse"
            class="br.ufma.deinf.laws.ncleclipse.wizards.ConnectorBaseNewWizard"
            icon="icons/sample.gif"
            id="ncleclipse.wizards.ConnectorBaseNewWizard"
            name="Connector Base Document">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            description="%ActionDefinition.format.description"
            id="br.ufma.deinf.laws.ncleclipse.actions.format"
            name="%ActionDefinition.format.name">
      </command>
   </extension>
   <extension
         id="nclerror"
         name="NCL Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.markers.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.markers.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
<!-- Removido ateh que Exista uma versao do Ginga para windows
extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut label="NCL Presentation" 
       icon="icons/sample.gif" 
       modes="run, debug" 
       class="br.ufma.deinf.laws.ncleclipse.launch.LaunchShortcut" 
       id="br.ufma.deinf.laws.ncleclipse.launch.LaunchShortcut">
       <contextualLaunch>
          <enablement>
             <with variable="selection">
                <count value="1"/>
             </with>
          </enablement>
          <contextLabel mode="run" label="NCL Presentation"/>
       </contextualLaunch>
		<perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
     	<perspective id="org.eclipse.debug.ui.DebugPerspective"/>
    </shortcut>
  </extension -->
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         category="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
         class="br.ufma.deinf.laws.ncleclipse.preferences.ViewsPreferencePage"
         id="br.ufma.deinf.laws.ncleclipse.preferences.NCLEclipseViewsPreferencePage"
         name="NCL Eclipse Views Preferences">
   </page>
   <!--page
         category="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
         class="br.ufma.deinf.laws.ncleclipse.preferences.RunSSHPreferencePage"
         id="br.ufma.deinf.laws.ncleclipse.preferences.RunSSHPreferencePage"
         name="SHH Run Preferences">
   </page>
   <page
         category="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
         class="br.ufma.deinf.laws.ncleclipse.preferences.RunLocalGingaPreferencePage"
         id="br.ufma.deinf.laws.ncleclipse.preferences.RunLocalGingaPreferencePage"
         name="Run Ginga-NCL">
   </page>
   <page
         category="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
         class="br.ufma.deinf.laws.ncleclipse.preferences.Language"
         id="br.ufma.deinf.laws.ncleclipse.preferences.Language"
         name="NCL Language">
   </page-->
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer
         class="br.ufma.deinf.laws.ncleclipse.preferences.PreferenceInitializer">
   </initializer>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         class="br.ufma.deinf.laws.ncleclipse.preferences.NCLPreferencePage"
         id="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
         name="NCL">
   </page>
</extension>
<extension
      point="org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
         delegate="br.ufma.deinf.laws.ncleclipse.launch.GingaLaunchConfiguration"
         id="br.ufma.deinf.laws.ncleclipse.launching.GingaEmulatorConfiguration"
         modes="run,debug"
         name="Ginga Player">
   </launchConfigurationType>
   <launchConfigurationType
         delegate="br.ufma.deinf.laws.ncleclipse.launch.GingaVMLaunchConfiguration"
         id="br.ufma.deinf.laws.ncleclipse.launching.GingaVMConfiguration"
         modes="run, debug"
         name="Ginga Virtual Machine">
   </launchConfigurationType>
</extension>
<extension
      point="org.eclipse.debug.ui.launchConfigurationTypeImages">
   <launchConfigurationTypeImage
         configTypeID="br.ufma.deinf.laws.ncleclipse.launching.GingaVMConfiguration"
         icon="icons/gingavm-launching.gif"
         id="br.ufma.deinf.laws.nleclipse.launching.ui.GingaVMLaunchConfigurationTypeImage">
   </launchConfigurationTypeImage>
   <launchConfigurationTypeImage
         configTypeID="br.ufma.deinf.laws.ncleclipse.launching.GingaEmulatorConfiguration"
         icon="icons/gingaemulator-launching.gif"
         id="br.ufma.deinf.laws.nleclipse.launching.ui.GingaLaunchConfigurationTypeImage">
   </launchConfigurationTypeImage>
</extension>
<extension
      point="org.eclipse.debug.ui.launchConfigurationTabGroups">
   <launchConfigurationTabGroup
         class="br.ufma.deinf.laws.ncleclipse.launch.ui.GingaVMTabGroup"
         id="br.ufma.deinf.laws.ncleclipse.launch.ui.GingaVMLauchConfigurationTabGroup"
         type="br.ufma.deinf.laws.ncleclipse.launching.GingaVMConfiguration">
   </launchConfigurationTabGroup>
   <launchConfigurationTabGroup
         class="br1.ufma.deinf.laws.ncleclipse.launch.ui.GingaLaunchTabGroup"
         id="br.ufma.deinf.laws.ncleclipse.launch.ui.GingaLauchConfigurationTabGroup"
         type="br.ufma.deinf.laws.ncleclipse.launching.GingaEmulatorConfiguration">
   </launchConfigurationTabGroup>
</extension>
<extension
      point="org.eclipse.debug.ui.launchConfigurationTabs">
   <tab
         class="launchconfigurationtab.LaunchConfigurationTab1"
         group="ncl30-eclipse.tab1"
         id="ncl30-eclipse.tab1"
         name="ncl30-eclipse.tab1">
   </tab>
   <tab
         class="launchconfigurationtab.LaunchConfigurationTab2"
         group="ncl30-eclipse.tab2"
         id="ncl30-eclipse.tab2"
         name="ncl30-eclipse.tab2">
   </tab>
</extension>

<extension point="org.eclipse.ui.bindings">
		<key sequence="Alt+Left"
			commandId="uk.co.example.actions.togglecomment"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="uk.co.example.ampleEditorScope"/>
</extension>

<!--
<extension
      point="org.eclipse.rse.ui.archivehandlers">
   <archivehandler
         class="systemarchivehandler.SystemArchiveHandler1"
         fileNameExtension="ncl30-eclipse.archivehandler1"
         id="ncl30-eclipse.archivehandler1"
         name="ncl30-eclipse.archivehandler1">
   </archivehandler>
</extension>
-->

<extension point="org.eclipse.ui.commands">
   <command
         id="idcommand"
         name="commandname">
   </command>
   <command
         id="idcommand2"
         name="commandname2">
   </command>
</extension>

<extension point="org.eclipse.ui.handlers">
  <handler
        class="br.ufma.deinf.laws.ncleclipse.navigation.NCLBackwardNavigation"
        commandId="idcommand">
  </handler>
  
  <handler
        class="br.ufma.deinf.laws.ncleclipse.navigation.NCLForwardNavigation"
        commandId="idcommand2">
  </handler>
</extension>

<extension point="org.eclipse.ui.bindings">
  <key
        commandId="idcommand"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="Alt+ARROW_LEFT"
        contextId="org.eclipse.ui.textEditorScope">
  </key>
  
  <key
        commandId="idcommand2"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="Alt+ARROW_RIGHT"
        contextId="org.eclipse.ui.textEditorScope">
  </key>
</extension>



</plugin>
