<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="br.ufma.deinf.laws.ncleclipse" name="NCL Eclipse Extension Point" schema="schema/br.ufma.deinf.laws.ncleclipse.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.ufma.deinf.laws.ncleclipse.NCLMultiPageEditor"
            contributorClass="br.ufma.deinf.laws.ncleclipse.NCLMultiPageActionBarContributor"
            default="true"
            extensions="ncl,conn"
            icon="icons/sample.gif"
            id="br.ufma.deinf.laws.ncleclipse.editors.NCLMultiPageEditor"
            name="NCL Eclipse">
      </editor>

   </extension>
   <!--Editor Actions -->
   <extension
         point="org.eclipse.ui.bindings">
         <key
         	commandId="br.ufma.deinf.laws.ncleclipse.actions.format"
         	contextId="org.eclipse.ui.globalScope"
         	schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         	sequence="Ctrl+Shift+F"/>
         	
         	<key
         		commandId="org.eclipse.ui.edit.text.gotoLastEditPosition"
         		contextId="org.eclipse.ui.textEditorScope"
         		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         		sequence="Ctrl+Q"/>
         
         <key
               commandId="br.ufma.deinf.laws.ncleclipse.actions.format"
               contextId="org.eclipse.ui.textEditorScope"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="Ctrl+Alt+SPACE">
         </key>
   </extension>
   <!-- extension
         point="org.eclipse.ui.actionSets">
      <actionSet
         label="Sample Action Set"
         visible="true"
         id="br.ufma.deinf.laws.ncleclipse.actionSet">
		 <action
		 		id = "br.ufma.deinf.laws.ncleclipse.actions.play"
		      	class="br.ufma.deinf.laws.ncleclipse.actions.Play"
		      	toolbarPath="Normal/exampleGroup"
		      	icon="icons/play.gif"
		      	label="Play"
		      	tooltip="Play the NCL File">
		   </action>
		   <action
		 		id = "br.ufma.deinf.laws.ncleclipse.actions.stop"
		      	class="br.ufma.deinf.laws.ncleclipse.actions.Stop"
		      	toolbarPath="Normal/exampleGroup"
		      	icon="icons/stop.gif"
		      	label="Play"
		      	tooltip="Play the NCL File">
		   </action>


      </actionSet>
   </extension -->
   <!-- End of Editor Actions -->
   
   
   <!-- Wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ncleclipse"
            name="NCL">
      </category>
      <wizard
            category="ncleclipse"
            class="br.ufma.deinf.laws.ncleclipse.wizards.NCLNewWizard"
            icon="icons/sample.gif"
            id="ncleclipse.wizards.NCLNewWizard"
            name="NCL Document">
      </wizard>
      <wizard
            category="ncleclipse"
            class="br.ufma.deinf.laws.ncleclipse.wizards.ConnectorBaseNewWizard"
            icon="icons/sample.gif"
            id="ncleclipse.wizards.ConnectorBaseNewWizard"
            name="Connector Base Document">
      </wizard>
      <wizard
            category="ncleclipse"
            class="br.ufma.deinf.laws.ncleclipse.wizards.NCLProject"
            finalPerspective="ncleclipse.perspective"
            icon="icons/project.png"
            id="ncl30-eclipse.NCLProject"
            name="NCL Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            description="%ActionDefinition.format.description"
            id="br.ufma.deinf.laws.ncleclipse.actions.format"
            name="%ActionDefinition.format.name">
      </command>
   </extension>
   
   <!-- Error marker -->
   <extension	id="nclerror"
         		name="NCL Error"
         		point="org.eclipse.core.resources.markers">
         		
      <super type="org.eclipse.core.resources.markers.problemmarker"/>
      
      <super type="org.eclipse.core.resources.markers.textmarker"/>
      
      <persistent value="true"/>
   </extension>
   
   
   <!-- Preferences pages -->
	<extension point="org.eclipse.ui.preferencePages">
	   <page
	         category="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
	         class="br.ufma.deinf.laws.ncleclipse.preferences.ViewsPreferencePage"
	         id="br.ufma.deinf.laws.ncleclipse.preferences.NCLEclipseViewsPreferencePage"
	         name="NCL Eclipse Views Preferences">
	   </page>
	   <!-- Disabled by now
	   page
	         category="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
	         class="br.ufma.deinf.laws.ncleclipse.preferences.RunSSHPreferencePage"
	         id="br.ufma.deinf.laws.ncleclipse.preferences.RunSSHPreferencePage"
	         name="SHH Run Preferences">
	   </page>
	   <page
	         category="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
	         class="br.ufma.deinf.laws.ncleclipse.preferences.RunLocalGingaPreferencePage"
	         id="br.ufma.deinf.laws.ncleclipse.preferences.RunLocalGingaPreferencePage"
	         name="Run Ginga-NCL">
	   </page>
	   <page
	         category="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
	         class="br.ufma.deinf.laws.ncleclipse.preferences.Language"
	         id="br.ufma.deinf.laws.ncleclipse.preferences.Language"
	         name="NCL Language">
	   </page-->
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
   		<initializer
        	class="br.ufma.deinf.laws.ncleclipse.preferences.PreferenceInitializer">
   		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
   		<page
         	class="br.ufma.deinf.laws.ncleclipse.preferences.NCLPreferencePage"
         	id="br.ufma.deinf.laws.ncleclipse.preferences.NCL"
         	name="NCL"/>
	</extension>

	<!-- Launch Configuration :: Running NCL document -->
	<!-- Removido ateh que Exista uma versao do Ginga para windows
		extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut label="NCL Presentation" 
       icon="icons/sample.gif" 
       modes="run, debug" 
       class="br.ufma.deinf.laws.ncleclipse.launch.LaunchShortcut" 
       id="br.ufma.deinf.laws.ncleclipse.launch.LaunchShortcut">
       <contextualLaunch>
          <enablement>
             <with variable="selection">
                <count value="1"/>
             </with>
          </enablement>
          <contextLabel mode="run" label="NCL Presentation"/>
       </contextualLaunch>
		<perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
     	<perspective id="org.eclipse.debug.ui.DebugPerspective"/>
    </shortcut>
  </extension -->
	<extension
	      point="org.eclipse.debug.core.launchConfigurationTypes">
	   <launchConfigurationType
	         delegate="br.ufma.deinf.laws.ncleclipse.launch.GingaLaunchConfiguration"
	         id="br.ufma.deinf.laws.ncleclipse.launching.GingaEmulatorConfiguration"
	         modes="run,debug"
	         name="Ginga Player">
	   </launchConfigurationType>
	   <launchConfigurationType
	         delegate="br.ufma.deinf.laws.ncleclipse.launch.GingaVMLaunchConfiguration"
	         id="br.ufma.deinf.laws.ncleclipse.launching.GingaVMConfiguration"
	         modes="run, debug"
	         name="Ginga Virtual Machine">
	   </launchConfigurationType>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
   		
   		<launchConfigurationTypeImage
	         configTypeID="br.ufma.deinf.laws.ncleclipse.launching.GingaVMConfiguration"
	         icon="icons/gingavm-launching.gif"
	         id="br.ufma.deinf.laws.nleclipse.launching.ui.GingaVMLaunchConfigurationTypeImage">
		</launchConfigurationTypeImage>
		<launchConfigurationTypeImage
	         configTypeID="br.ufma.deinf.laws.ncleclipse.launching.GingaEmulatorConfiguration"
	         icon="icons/gingaemulator-launching.gif"
	         id="br.ufma.deinf.laws.nleclipse.launching.ui.GingaLaunchConfigurationTypeImage">
		</launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	   <launchConfigurationTabGroup
	         class="br.ufma.deinf.laws.ncleclipse.launch.ui.GingaVMTabGroup"
	         id="br.ufma.deinf.laws.ncleclipse.launch.ui.GingaVMLauchConfigurationTabGroup"
	         type="br.ufma.deinf.laws.ncleclipse.launching.GingaVMConfiguration">
	   </launchConfigurationTabGroup>
	   <launchConfigurationTabGroup
	         class="br.ufma.deinf.laws.ncleclipse.launch.ui.GingaLaunchTabGroup"
	         id="br.ufma.deinf.laws.ncleclipse.launch.ui.GingaLauchConfigurationTabGroup"
	         type="br.ufma.deinf.laws.ncleclipse.launching.GingaEmulatorConfiguration">
	   </launchConfigurationTabGroup>
	</extension>

	<!-- History Navigation -->
	<!-- extension point="org.eclipse.ui.bindings">
			<key sequence="Alt+Left"
				commandId="uk.co.example.actions.togglecomment"
				schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
				contextId="uk.co.example.ampleEditorScope"/>
	</extension -->
	
	<extension point="org.eclipse.ui.commands">
		<command 	id="br.ufma.deinf.laws.ncleclipse.actions.navigation.backward" 
					name="NCL Backward Navigation"/>
					
		<command 	id="br.ufma.deinf.laws.ncleclipse.actions.navigation.forward" 
					name="NCL Backward Navigation"/>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler class="br.ufma.deinf.laws.ncleclipse.navigation.NCLBackwardNavigation"
	        commandId="br.ufma.deinf.laws.ncleclipse.actions.navigation.backward">
		</handler>
  
		<handler class="br.ufma.deinf.laws.ncleclipse.navigation.NCLForwardNavigation"
			commandId="br.ufma.deinf.laws.ncleclipse.actions.navigation.forward">
		</handler>
	</extension>

	<extension point="org.eclipse.ui.bindings">
	  <key  commandId="br.ufma.deinf.laws.ncleclipse.actions.navigation.backward"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	        sequence="Alt+ARROW_LEFT"
	        contextId="org.eclipse.ui.textEditorScope">
	  </key>
  
	  <key  commandId="br.ufma.deinf.laws.ncleclipse.actions.navigation.forward"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	        sequence="Alt+ARROW_RIGHT"
	        contextId="org.eclipse.ui.textEditorScope">
	  </key>
	</extension>
 <extension
       point="org.eclipse.ui.editorActions">
    <editorContribution
          id="br.ufma.deinf.laws.ncleclipse.actions.nclintime.start"
          targetID="br.ufma.deinf.laws.ncleclipse.editors.NCLMultiPageEditor">
       <action
             class="br.ufma.deinf.laws.ncleclipse.nclinTime.NCLInTime"
             icon="icons/rec.png"
             id="ncl30-eclipse.start"
             label="Start record"
             style="toggle"
             toolbarPath="Normal/additions">
       </action>
    </editorContribution>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          class="org.eclipse.ui.navigator.CommonNavigator"
          icon="icons/sample.gif"
          id="ncleclipse.navigator"
          name="Navigator View">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="br.ufma.deinf.laws.ncleclipse.perspective.Perspective"
          icon="icons/sample.gif"
          id="ncleclipse.perspective"
          name="NCL">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="ncleclipse.perspective">
       <view
             id="ncleclipse.navigator"
             minimized="false"
             ratio="0.25"
             relationship="left"
             relative="org.eclipse.ui.editorss">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       id="ncleclipse.NCLNature"
       name="ncleclipse.NCLNature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="br.ufma.deinf.laws.ncleclipse.natures.NCLNatures">
       </run>
    </runtime>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/projectSample.png"
          id="ncleclipse.projectImage"
          natureId="ncleclipse.NCLNature">
    </image>
 </extension>

<!--
<extension
      point="org.eclipse.rse.ui.archivehandlers">
   <archivehandler
         class="systemarchivehandler.SystemArchiveHandler1"
         fileNameExtension="ncl30-eclipse.archivehandler1"
         id="ncl30-eclipse.archivehandler1"
         name="ncl30-eclipse.archivehandler1">
   </archivehandler>
</extension>
-->

	<extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="org.eclipse.core.resources.problemmarker"
         class="br.ufma.deinf.laws.ncleclipse.correction.NCLErrorFixer"/>
   </extension>


</plugin>
